.image-about {
  aspect-ratio: 5 / 1;
  border-radius: 20px;
  overflow: hidden;
  background-image: url("./src/assets/image-about.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}