header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  a:visited {
    color: black;
  }
}

.header-logo {
  width: 210px;
  height: auto;
}

.liens {
  display: flex;
  align-items: center;
  gap: 1rem;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &.active-link {
      text-decoration: underline;
    }
  }
}

@media (max-width: 768px) {
  .header-logo {
    width: 145px;
  }
}

@media (max-width:350px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}