.image-source {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  background-image: url("./src/assets/Image-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
}

.title-main {
  position: relative;
  color:white;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.gallery {
  height: 200px;
  background-color: #f6f6f6;
  max-height: 100vh;
  border-radius: 20px;
  margin: 50px auto;
}