.image-source {
  position: relative;
  aspect-ratio: 5/1;
  border-radius: 20px;
  overflow: hidden;
  background-image: url("../src/assets/image-home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
}

.title-main {
  position: relative;
  color: $text-color-light;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  background-color: $background-light;
  border-radius: 20px;
  padding: 2rem;
}

.location-card {
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  position: relative;

  width: 30%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  box-sizing: border-box;
  
  border-radius: 10px;
  padding: 20px;
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.card-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  z-index: 2;
}

.card-title {
  text-shadow: 0 0 black;
  position: relative;
  z-index: 3;
  color: $text-color-light;
  font-size: 1.2rem;
}


@media (max-width: 768px) {
  .image-source {
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 10px;
    justify-content: flex-start;
  }
  .title-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
  }
  .gallery {
    background-color: transparent;
    padding: 1rem;
  }
  .card-title {
    font-size: 1rem;
  }
}

@media (max-width:425px) {
  .title-main {
    font-size: 1rem;
  }

  .location-card {
    aspect-ratio: 5/3;
    width: 300px;
  }
}