@import 'variables';
@import 'header';
@import 'home';
@import 'about';
@import 'error';
// @import 'card';
@import 'footer';

body {
  margin: 0;
  width: 100vw;
  // max-width: 1240px;
  font-family: $font-family-main;
  background: #f9f9f9;
  h1 {
    color: $primary;
  }
}

.body-style {
  max-width: 80%;
  padding: 1rem;
  margin: 0 auto;
  gap: 1rem;
}
